.navbar-header{
	background: #005B90;
}
#top-menu, #admin-nav{
	background-color: #7EB4D5; 
}
#top-menu li a, #admin-nav li a{
	background-color:#3287BB;
}
#top-menu li a:hover, #admin-nav li a:hover,
#top-menu .active>a, #admin-nav .active>a{
	background-color:#005B90;
}
.search-nav .form-control{
	background-color:#005B90;
}
.sidebar-nav li.active{
	background-color:D9E9F2;
}
.active.a,
a {
color:#3287BB;
}
body {
	background-color:#EEEEEE;
}
.report-section, .filter-field {
	background:white;
}