.header {
    background-color: #40ADD1;
    width: 100%;
}

.header-bg {
    padding-left: 100px;
    margin: auto;
    max-width: 1280px;
    height: 60px;
    background: url('http://fahussain.github.io/srev-logo-white.png') no-repeat 3px 12px;
}

.nav-item {
    display: inline-block;
    padding: 20px 5px 10px;
    margin: auto 10px;
    color: white;
}

.nav-search-container {
    display: inline-block;
    padding: 13px;
}

.nav-item > a,
.nav-item > a:hover {
    color: white;
    text-decoration: none;
}

.nav-item.selected,
.header-nav .selected {
    border-bottom: 2px solid white;
}

.view-body {
    margin: auto;
    max-width: 1280px;
}

.section-box {
    background-color: white;
    margin: 5px 0px 25px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 2px #E6E6E6;
    padding: 20px;
    width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.srev-form-control {
    border-radius: 2px;
    font-size: 12px;
    width: 200px;
}

.big-round {
    color: lightgray;
    font-size: 50px;
    width: 96px;
    height: 96px;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 48px;
    cursor:pointer;
}

.big-round::before {
    position: absolute;
    left: 22px;
    top: 22px;
}

.badge-blue::after,
.badge-orange::after {
    position: absolute;
    left: 64px;
    top: -5px;
    content: attr(data-number);
    font-size: 14px;
    color: white;
    padding-top: 4px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    text-align: center;
}

.badge-blue::after {
    background-color: #40ADD1;
}

.badge-orange::after {
    background-color: #FA9241;
}

.badge-circle {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #3996B0;
}

.inline-block {
    display: inline-block;
}

.big-badge-container {
    padding: 5px;
    width: 110px;
    text-align: center;
}

.badge-text {
    display: inline-block;
    margin: auto;
    color: white;
}

.overview-top-section {
    width: 100%;
    background: white;
    padding: 20px 10px;
}

.overview-lower-section {
    background-color: lightgray;
    height: 800px;
}

.opp-stats-table {
    width: 100%;
}

.opp-stats-table td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.bang {
    background-color: #FA9241;
    height: 26px;
    width: 26px;
    color: white;
    border-radius: 13px;
    text-align: center;
    font-size: 20px;
}

a {
    color: #40ADD1;
}
/*angular-ui/ui-select styling*/

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
    border-color: #E0E0E0;
    background-color: white;
    background-image: none;
}

.selectize-control.single .selectize-input:after {
    border-color: #4DBBDA transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}
.selectize-input{
    padding: 6px;
}
.ui-select-bootstrap .ui-select-toggle>.caret {
    border-top:4px solid #4DBBDA;
}
.multiselect-bootstrap {
    position:relative;
}
.multiselect-bootstrap::before{
    position:absolute;
  width: 0;
  height: 0;
  border-top: 4px solid #4DBBDA;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content:"";
  cursor:pointer;
}
/* bootstrap overridess*/
.btn-blue {
    color: #40ADD1;
    background-color: #fff;
    border-color: #40ADD1;
}
.form-control,
.btn {
    border-radius: 2px;
    font-size: 12px;
}
.btn:hover,
.btn:focus{
    color: #3996B0;
} 
.form-combo-box {
    width: 150px;
    margin-right:5px;
}