@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.btn {
    border-radius: 2px;
    font-size:12px;
    min-width:100px;
}
.btn-primary {
    border-color:  #40ADD1;
    background-color: #40ADD1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color:#30a0c5;
    border-color:#30a0c5;
    outline:0;
}
.btn-default {
    color: #40ADD1;
    border-color:#fff;
}
.btn-default-blue {
    color: #40ADD1;
    border-color:#40ADD1;
}
.btn-default-blue:hover,
.btn-default-blue:focus,
.btn-default-blue:active{
    color: #30a0c5;
    border-color:#30a0c5;
    background-color:white;
    outline:0;
}
.form-control {
    border-radius:2px;
    box-shadow:none;
    font-size:12px;
    height:30px;
}
.form-container-xs {
    max-width:330px; 
    margin:100px auto;
}
.form-heading {
    color:#40ADD1;
    text-align:center;
    font-weight:300;
    line-height: 1.4em;
}
a,
a:hover{
    color:#40ADD1;
}
.rule-ok {
    position: absolute;
    top: 2px;
    left:8px;
    font-size: 20px; 
    padding-right: 5px;
    color:#40ADD1;
}
.pwd-rule-row {
    padding:5px 0 5px 30px;
    position:relative;
}
.btn-change-pwd {
    width:100%;
}
.margin-20 {
    margin:0 0 20px;
}
.no-display,
.sf-input-result,
.sf-input-username,
.sf-input-password,
.sf-input-email,
.sf-input-new-password,
.sf-input-confirm-password {
    display:none;
}
