@charset "UTF-8";

@font-face {
  font-family: "channel-icons";
  src:url("fonts/channel-icons.eot");
  src:url("fonts/channel-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/channel-icons.woff") format("woff"),
    url("fonts/channel-icons.ttf") format("truetype"),
    url("fonts/channel-icons.svg#channel-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "channel-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "channel-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coins-lg:before {
  content: "\61";
}
.icon-done-lg:before {
  content: "\62";
}
.icon-message-lg:before {
  content: "\63";
}
.icon-pencil-lg:before {
  content: "\64";
}
.icon-heart-md:before {
  content: "\66";
}
.icon-folder-md:before {
  content: "\65";
}
.icon-check-sm:before {
  content: "\67";
}
.icon-x-sm:before {
  content: "\68";
}
.icon-dots-md:before {
  content: "\69";
}
.icon-contact-md:before {
  content: "\6b";
}
.icon-contact-lg:before {
  content: "\6c";
}
.icon-cog-lg:before {
  content: "\6d";
}
.icon-report1-md:before {
  content: "\6e";
}
.icon-globe-md:before {
  content: "\6f";
}
.icon-report2-md:before {
  content: "\70";
}
