 <div class="row indicator-row" ng-drag="true" ng-drag-data="{'group':group, 'indicator':indicator}">
    <div class="col-md-4 col-sm-4">
        <div class="col-md-3 col-sm-3">
            <div style="padding-left:12px;" class="action-buttons-container">
                <i class="glyphicon glyphicon-pencil actionable-blue" ng-click="editRow(indicator,group)"></i>&nbsp;&nbsp;&nbsp;
                <i class="glyphicon glyphicon-trash actionable-blue" ng-click="removeIndicator(indicator,group)"></i>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            {{indicator.name}}
        </div>
        <div class="col-md-3 col-sm-3">{{indicator.dataType}}</div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div ng-switch="indicator.dataType" class="row">
                <div ng-switch-when="Number">
                    Success {{indicator.goalCriteria.successFrom}} - {{indicator.goalCriteria.successTo}}; Meet {{indicator.goalCriteria.meetFrom}} - {{indicator.goalCriteria.meetTo}}; Fail {{indicator.goalCriteria.failFrom}} - {{indicator.goalCriteria.failTo}};
                </div>
                <div ng-switch-when="Date">
                    Success {{indicator.goalCriteria.successFrom}} - {{indicator.goalCriteria.successTo}}; Meet {{indicator.goalCriteria.meetFrom}} - {{indicator.goalCriteria.meetTo}}; Fail {{indicator.goalCriteria.failFrom}} - {{indicator.goalCriteria.failTo}};
                </div>
                <div ng-switch-when="String">
                    Success {{indicator.goalCriteria.successFrom}} - {{indicator.goalCriteria.successTo}}; Meet {{indicator.goalCriteria.meetFrom}} - {{indicator.goalCriteria.meetTo}}; Fail {{indicator.goalCriteria.failFrom}} - {{indicator.goalCriteria.failTo}};
                </div>
        </div>
    </div>
</div>