<!DOCTYPE html>
<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
        #sortable > li {
            cursor: move;
        }
        
        .hover {
            color: orange;
        }
    </style>
    <style type="text/css">
        @import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div ng-app="app">
        <br/>
        <div style="background-color:#2095BF;padding:1px;">
            <h3 style="color:white;">Indicators</h3></div>
        <div ng-controller="IndicatorGroupsController">
            <br/>
            <button class="btn btn-default" ng-click="addGroup();">Add Group</button>
            
            <br/> 
            <br/> 
            <div>
                <div class="row indicator-row">
                    <div style="padding:0px" class="col-md-4 col-sm-4 col-xs-4">
                        <div class="col-md-4 col-sm-4"> </div>
                        <div class="col-md-4 col-sm-4"><strong>Group/Indicator </strong></div>
                        <div class="col-md-4 col-sm-4"><strong>Data Type</strong></div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>Goal Criteria</strong> </div>
                </div>
                <div ng-repeat="group in groups">
                    <div class="row indicator-row">
                        <div style="padding:0px" class="col-md-4 col-sm-4">
                            <div class="col-md-4 col-sm-4">
                                <div class="action-buttons-container">
                                    <i ng-click="group.collapsed = !group.collapsed" class="glyphicon glyphicon-triangle-bottom collapse-expand-caret actionable" ng-class="{'glyphicon-triangle-right':group.collapsed, 'glyphicon-triangle-bottom':!group.collapsed}"></i> &nbsp;&nbsp;
                                    <i class="glyphicon glyphicon-pencil actionable-blue"></i>&nbsp;&nbsp;&nbsp;
                                    <i class="glyphicon glyphicon-trash actionable-blue" ng-click="removeGroup(group)"></i>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4">
                                <strong>{{group.name}}</strong> &nbsp;&nbsp;<i class="glyphicon glyphicon-plus actionable" ng-click="addIndicator(group);"></i>
                            </div>
                            <div class="col-md-4 col-sm-4"></div>
                        </div>
                        <div class="col-md-8 col-sm-8"> </div>
                    </div>
                    <div collapse="group.collapsed">
                        <div ng-repeat="indicator in group.indicators" class="clearfix drop-zone" ng-drop="true"  ng-drop-success="onDropComplete($data,$event, group, $index)" ng-blur="onIndicatorBlur(indicator);">
                            <div ng-if="!indicator.editing">
                                <div indicator-display-row></div>
                            </div>
                            <div ng-if="indicator.editing" >
                                <div indicator-editor-row></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>
    <script src="ngDraggable.js" type="text/javascript"></script>
    <script src="script.js"></script>
</body>

</html>