<div class="row indicator-row editing">
    <div class="col-md-4 col-sm-4">
        <div class="col-md-3 col-sm-3">
            <div style="padding-left:12px;" class="action-buttons-container">
                <i class="glyphicon glyphicon-floppy-disk actionable-blue" ng-click="saveRow(indicator,group)"></i>&nbsp;&nbsp;&nbsp;
                <i class="glyphicon glyphicon-trash actionable-blue" ng-click="removeIndicator(indicator,group)"></i>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <ui-select ng-model="selected.indicator" theme="bootstrap" on-select="onIndicatorSelect($item, $model, indicator)">
                <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in indicatorTypes | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3 col-sm-3">{{indicator.dataType}}</div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div ng-switch="indicator.dataType" class="row">
            <div ng-switch-when="Number">
                <div class="col-md-3">
                    <span>Success</span>
                    <input type="text" style="width:30px;" ng-model="indicator.goalCriteria.successFrom" /> To
                    <input style="width:30px;" ng-model="indicator.goalCriteria.successTo" />
                </div>
                <div class="col-md-3">
                    Meet &nbsp;&nbsp;&nbsp;
                    <input style="width:30px;" ng-model="indicator.goalCriteria.meetFrom" /> To
                    <input style="width:30px;" ng-model="indicator.goalCriteria.meetTo" />
                </div>
                <div class="col-md-3">
                    Fail &nbsp;&nbsp;&nbsp;
                    <input style="width:30px;" ng-model="indicator.goalCriteria.failFrom" /> To
                    <input style="width:30px;" ng-model="indicator.goalCriteria.failTo" />
                </div>
            </div>
            <div ng-switch-when="Date">
                <div class="col-md-12">
                    <div class="col-md-2">Success</div>
                    <div class="col-md-4">
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="datePickerStatus.successFrom" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'successFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        To
                    </div>
                    <div class="col-md-4">
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="datePickerStatus.successTo" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'successTo')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="col-md-2">Meet</div>
                    <div class="col-md-4">
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="datePickerStatus.meetFrom" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'meetFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        To
                    </div>
                    <div class="col-md-4">
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="datePickerStatus.meetTo" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'meetTo')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="col-md-2">Fail</div>
                    <div class="col-md-4">
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="datePickerStatus.failFrom" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'failFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        To
                    </div>
                    <div class="col-md-4">
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="datePickerStatus.failTo" close-text="Close" />
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'failTo')">
                    <i class="glyphicon glyphicon-calendar"></i>
                    </button>
              </span>
                        </p>
                    </div>

                </div>
            </div>
            <div ng-switch-when="String">
                <div class="col-md-1">Success</div>
                <div class="col-md-3">
                   
                    <ui-select multiple ng-model="selected.success" theme="bootstrap" class="form-control">
                        <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in stringOptions.success | filter: $select.search">
                            <span ng-bind-html="item | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-1">Meet</div>
                <div class="col-md-3">
                   
                    <ui-select multiple ng-model="selected.meet" theme="bootstrap" class="form-control">
                        <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in stringOptions.meet | filter: $select.search">
                            <span ng-bind-html="item | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-1">Fail</div>
                <div class="col-md-3">
                   
                    <ui-select multiple ng-model="selected.fail" theme="bootstrap" class="form-control">
                        <ui-select-match placeholder="Select or search...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in stringOptions.fail | filter: $select.search">
                            <span ng-bind-html="item | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>